* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.benefit-perks {
    list-style-type:disc;
}

.hamburger-icon {
    display: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    align-items:center;
    flex-wrap: wrap;
}

.buttonsandoptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-options {
    /* margin-left: 600px; */
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-family: 'Inter'; 
    font-style: normal; 
    font-weight: 600; 
    font-size: 16px; 
    line-height: 1.5;
    color: #A6A6A6;
}


.buttons {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;

}

.logo {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}

.logopng {
    max-width: 30px;
}

#zata {
    width: 77px; 
    height: 30px; 
    font-family: 'Inter'; 
    font-style: normal; 
    font-weight: 600; 
    font-size: 40px; 
    color: #000000;

}

.login-button {
    font-family: 'Inter'; 
    font-style: normal; 
    font-weight: 600; 
    font-size: 16px; 
    line-height: 1.5;
    color: #A6A6A6;
    border: none;
    background-color: transparent;
}

.buttons  .login-button {
    width: 77px; 
    height: 30px;
    font-family: 'Inter'; 
    font-style: normal; 
    font-weight: 600; 
    font-size: 16px; 
    line-height: 1.5;
    color: #A6A6A6;
    border: none;
    background-color: transparent;
}

.signup-button {
    
    border: none;
    background-color: #388e3c;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    width: 77px;
    height: 30px;
    border-radius: 10px;
}

.buttons {
    margin-top: 20px;
}

#Home {
    color: black;
}

.hero {
    margin-top: 120px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#hero-title {
    font-family: 'Inter'; 
    font-style: normal; 
    font-weight: 800; 
    font-size: 80px; 
    color: #000000;
}

#hero-image {
    width: 80%;
    max-width: 580px;
    
}

.hero-paragraph {
    line-height: 1.5;
    font-family: 'Inter'; 
    font-style: normal; 
    font-size: 16px; 
    color: #000000;
}

#hero-subhead1 {
    font-weight: 800;
}



.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 200px;
    flex-wrap: wrap;
}

.docs-button {
    display: flex;
    justify-content: center;
    gap: 5px;

}

#play {
    max-width: 30px;
}
#docs {
    background-color: transparent;
    border: none;
    color:black;
    font-weight: 1000;
}
.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
main {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.clients-title {
    font-family: 'Inter'; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 50px; 
    color: #000000;
}

.client-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    color: grey;
    flex-wrap: wrap;
}

.client-logo {
    max-width: 120px;
    filter: grayscale(100%);
}

.client-logo:hover {
    filter: grayscale(0%);
}

.regulator-logo {
    max-width: 180px;
    filter: grayscale(100%);
}

.regulator-logo:hover {
    filter: grayscale(0%);
}

.support {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-left: 100px;
    padding-right: 100px;

}


.left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.left-container:hover #left-paragraph1 {
    color:#388e3c;
}

.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;

}

.support-card {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: flex-start;
    gap: 20px;
    border: transparent;
    box-shadow: 0, 0, 0, 0;
    transform: translateY(0px);
    padding: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease, border 0.3s ease;
}

.support-card:hover {
    border: rgba(0, 0, 0, 0.1) solid 1px;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-6px);
}

#support1 {
    font-family: 'Inter'; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 35px; 
    color: #000000;
}


#support2 {
    line-height: 1.5;
    font-family: 'Inter'; 
    font-style: normal; 
    font-size: 16px; 
    color: #000000;
    text-align:left;
}

.support-icons {
    width: 40px;
    padding-top: 8px;
}

.support-card:hover #support1 {
    color: #388e3c;
}

.support-card:hover {
    color: #388e3c;
}
#left-paragraph1 {
    font-family: 'Inter'; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 50px; 
    color: #000000;
}

#left-paragraph2 {
    line-height: 1.5;
    font-family: 'Inter'; 
    font-style: normal; 
    font-size: 16px; 
    color: #000000;
}

.benefit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.benefit-left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#benefitp1 {
    font-family: 'Inter'; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 35px; 
    color: #000000;
    text-align: left;
}

.benefit-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.benefit-list-item {
    display: flex;
    gap: 15px;
    padding-left: 50px;

}
.tick {
    width: 17px;
    height: auto;
    
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 8px;
}

.benefit-perks {
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 1.5;
    font-family: 'Inter'; 
    font-style: normal; 
    font-size: 16px; 
    color: #000000;
}


.Premium, .Enterprise, .Community {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border: rgba(0, 0, 0, 0.05) solid 1px;
    height: 350px;
    width: 250px;
    padding-top: 20px;
    background-color: #F9FAFB;
    border-radius: 10px;
}

.Enterprise {
    background-color: rgba(56, 142, 60, 0.1);
    transform: translateY(-30px);
    box-shadow: rgba(0, 0, 0, 0.1) solid 1px ;
}


.benefit-plan, .benefit-cost {
    font-family: 'Inter'; 
    font-style: normal; 
    font-weight: 600; 
    font-size: 25px; 
    color: #000000;

}

.benefit-cost {
    font-size: 30px;
    color: #388e3c;
}

.benefit-comment {
    line-height: 1.5;
    font-family: 'Inter'; 
    font-style: normal; 
    font-size: 16px; 
    color: #000000;
}
#benefit-signup {
    margin-top: 10px;
    margin-left: 50px;
}

footer {
    background-color: #161C28;
    height: 30px;
    text-align: center;
    color: white;
    justify-content: center;
}

@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 0;
        padding-left: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        border-bottom: 1px #A6A6A6 solid ;
        flex-wrap: wrap;
    }
    .Enterprise {
    transform: translateY(0px);
 
    }
    .pricing {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 10px;
    }
    .navbar-options {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        background:
        radial-gradient(
        circle at left center,
        rgba(56, 142, 60, 0.35),
        transparent 60%
        ),
        radial-gradient(
        circle at right center,
        rgba(56, 142, 60, 0.35),
        transparent 60%
        ),
        #ffffff;
        color: black;
        position: absolute;
        top: 30px;
        left: 0px;
        right: 0px;
        z-index: 100;
        justify-content: center;
        align-items: center;
    }

    .buttonsandoptions {
        display: none;
    }
    .hamburger-icon {
        /* padding-right: 20px; */
        margin-right: 0px;
        padding-top: 10px;
        align-items: center;
        justify-content: space-between;
        display: flex;
        width: 30px;
        height: 30px;
    }
    .hero {
        margin-top: 50px;
    }
    #hero-title {
        font-weight: 800; 
        font-size: 35px; 
    }
    .hero-paragraph {
        font-size: 14px;
    }
    #hero-subhead2 {
        text-align: center;
    }
    .hero-buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .client-logos {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .clients-title {
        font-size: 25px;
        font-weight: 14px;
        text-align: center;
    }

    main {
        gap:40px;
    }

    #support1 {
        font-size: 37px;
    }
    .client-logo {
        filter: grayscale(0%);
    }

    .regulator-logo {
        filter: grayscale(0%);
    }

    #left-paragraph1 {
        font-size: 25px;
        font-weight: 17.5px;
        text-align: center; 
    }

    .left-container {
        gap: 30px;
    }

    #left-paragaph2 {
       text-align: center; 

    }
    .right-container {
        gap: 10px;
    }
    .support {
        padding-left: 30px;
        padding-right: 30px;
        gap: 10px;
    }
    .support-paragraphs {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    .support-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    #support1 {
        text-align: center;
    }
    #support2 {
        text-align: center;
    }

    #benefitp1 {
        font-size: 25px;
        font-weight: 17.5px;
        text-align: center; 
        padding-right: 30px;
    }

    .benefit {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .benefit-list-item {
        padding-left: 15px;
        padding-right: 30px;
    }
    .tick {
        width: 25px;
        height: auto;
    }
}



